.input-animation {
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 14px;
    transition: padding 0.3s;
}

.input-animation:focus {
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    transition: padding 0.3s;
}