.popup-profile_status_closed {
    animation: fade-out linear 0.3s forwards;
}

@keyframes fade-out {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}
