.elements__element-trash {
    width: 18px;
    height: 19px;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url("../../../images/element-trash.svg");
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: 22px 19px;
    background-color: rgba(0,0,0,0);
    transition: background-image opacity 0.3s;
    opacity: 1;
    transition: opacity 0.3s;
    cursor: pointer;
}

.elements__element-trash:hover {
    opacity: 0.6;
    transition: opacity 0.3s;
}