.popup-image__container {
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-height: calc(100vh - 130px);
    max-width: calc(100vw - 80px);
    align-self: center;
}

@media screen and (min-width: 500px) {
    .popup-image__container {
        max-height: calc(100vh - 130px);
        max-width: calc(100vw - 160px);
    }
}