.popup_status_closed {
	animation: fade-out linear 0.3s forwards;
}

@keyframes fade-out {
	0% {
		opacity: 1;
		visibility: visible;
	}

	100% {
		opacity: 0;
		visibility: hidden;
	}
}

/*************************** 
****************************
	≈сли просто перенести стили из popup_status_closed
	в popup, то анимаци€ закрыти€ будет проигрыватьс€
	при заходе на страницу, что вполне ожидаемо.
	“аким образом, € решил использовать popup_status_closed,
	который по умолчанию не стоит модификатором popup.
	я не нашЄл решени€ как отключить начальное проигрывание
	дл€ animation.
	¬еро€тно при другой реализации этого костыл€ можно
	было бы избежать.
**************************** 
***************************/