.elements__element-like {
    width: 22px;
    aspect-ratio: 1 / 1;
    border: none;
    background-image: url("../../../images/element-like.svg");
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: 22px 19px;
    background-color: rgba(0,0,0,0);
    transition: background-image opacity 0.3s;
    opacity: 1;
    transition: opacity 0.3s;
    cursor: pointer;
    display: flex;
}

.elements__element-like:hover {
    opacity: 0.5;
    transition: opacity 0.3s;
}